<ion-app>
  <ion-content class="content ion-justify-content-center ion-align-items-center">
    <ion-row class="container ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col>
        <ion-card class="card ion-padding">
          <ion-card-title class="font-xxl title ion-margin-bottom">
            Definição de senha
          </ion-card-title>
          <ion-card-content class="ion-no-padding">
            <form [formGroup]="form" (ngSubmit)="service.submit(new_password1?.value, uid, token)">
              <ion-list class="ion-no-margin ion-no-padding">
                <ion-item class="ion-no-margin ion-no-padding form-group">
                  <ion-label position="floating">Nova senha</ion-label>
                  <ion-input formControlName="new_password1" type="password"></ion-input>
                </ion-item>
                <ion-text class="input-error" *ngIf="new_password1?.invalid && new_password1?.touched">
                  <small *ngIf="new_password1?.errors?.['required']">
                    Obrigatório
                  </small>
                </ion-text>
                <app-server-errors [errors]="service.firstPasswordTask.error?.items.new_password1"></app-server-errors>

                <ion-item class="ion-no-margin ion-no-padding form-group">
                  <ion-label position="floating">Confirmação de senha</ion-label>
                  <ion-input formControlName="new_password2" type="password"></ion-input>
                </ion-item>
                <ion-text class="input-error" *ngIf="new_password2?.invalid && new_password2?.touched">
                  <small *ngIf="new_password2?.errors?.['required']">
                    Obrigatório
                  </small>
                  <small *ngIf="new_password2?.errors?.['mustMatch']">
                    A confirmação da senha está diferente
                  </small>
                </ion-text>
                <app-server-errors [errors]="service.firstPasswordTask.error?.items.new_password2"></app-server-errors>
              </ion-list>
              <ion-button
                type="submit"
                color="primary"
                expand="block"
                size="large"
                class="submit-btn font-l ion-text-capitalize"
                [disabled]="form.invalid"
              >
                Enviar
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
