:host {
  --l1-font-size: var(--font-sm);
  --l1-font-weight: var(--font-normal);
  --l1-color: var(--ion-text-color);
  --l2-font-size: var(--font-sm);
  --l2-font-weight: var(--font-normal);
  --l2-color: var(--ion-text-color);
}

span {
  display: block;

  &:first-of-type {
    font-size: var(--l1-font-size);
    font-weight: var(--l1-font-weight);
    color: var(--l1-color);
  }

  &:last-of-type {
    font-size: var(--l2-font-size);
    font-weight: var(--l2-font-weight);
    color: var(--l2-color);
  }
}
