:host {
  --font-size: inherit;
  --font-weight: var(--font-normal);
  --text-color: var(--ion-text-color);
  --line-height: calc(var(--font-size) + (0.8 * var(--font-size)));
  --lines: 1;
}

span {
  overflow: hidden;
  display: block;
  word-break: break-word;
  white-space: pre-wrap;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
  max-height: calc(var(--line-height) * var(--lines));
  font-size: var(--font-size);
  color: var(--text-color);
  font-weight: var(--font-weight);
}
